{% extends 'base.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    <h1>Edit Author</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Save changes</button>
    {{ form_end(form) }}

    <a href="{{ path('authors') }}">Back to list</a>
{% endblock %}